/*
Name: Ruby Bron
Studenid: 12474223
This file will change the look of the website created by scatter.html
*/

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

.legend {
	font-size: 12px;
}

body {
  	background-color: powderblue;
}

h1 {
  	color: navy;
  	margin-left: 20px;
}